atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
configparser==3.5.0
enum34==1.1.6
flake8==3.6.0
funcsigs==1.0.2
mccabe==0.6.1
more-itertools==5.0.0
pathlib2==2.3.3
pluggy==0.8.1
py==1.7.0
py2neo==3.1.2
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.1.0
scandir==1.9.0
six==1.12.0
